html, body, #body, #main {
    background: none;
    margin: 0 auto;
}
    
#header {
    height: auto;
}

#nav, #header-image-frame {
    display: none;
}


h1, h2, h3,
#header h1 {
    text-align: left;
    font-size: 77%;
    overflow: auto;
    position: static;
    background: none;
}
