html {
    background: #131313;
}

body {
    background: url(/images/bg.png) top left repeat-x;
    margin: 0 auto;
}

#content {
    margin: 0 auto;
    width: 800px;
    text-align: center;
}

#nav, #main {
    width: 100%;
    background: blue;
}